@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  
  --color-mint-teal: #3bbca8;
  --color-purple: #76519f;
  --color-burnt-orange: #e05a37;
  --color-warm-yellow: #ffa602;
  --color-milk-white: #fef8e8;
  --color-light-grey: #afaeac;
  --color-dark-grey: #6b6a68;
  --color-black: #000000;
  
  --color-primary: var(--color-mint-teal);
  --color-secondary: var(--color-purple);
}